/*Estilo principal*/
*{
  box-sizing: border-box;
}


body {	
	color :#333;
	font:300 15px/15px Roboto,Arial,Helvetica;
}

a{
  text-decoration: none;
}

h1,h2,h3,h4{
  margin: 0;
  line-height: 1em;
}

h1{
  font:300 2.8em Josefin Sans,Arial,Helvetica;
  margin-bottom: 0.9em;
}

h2{
  font:300 2.5em Josefin Sans,Arial,Helvetica;
  margin-bottom: 1.5em;
}
h3{
  font:300 2em Roboto,Arial,Helvetica;
  margin:2em 0 1em 0;
}
h4{
  font:300 1.5em Roboto,Arial,Helvetica;
  margin-bottom: 1em;
}

.brand {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

.espacio{padding: 6em 0;}

.mensajes{
  position: fixed;
  z-index: 50;

}

/** Lista de  navegacion **/

.nav-wrapper{
  background-color: #222;
  border-color:#080808;
  color: #777;
}

.nav-wrapper  li  a {
font-size: 1.2em;
line-height: 3.2em;
font-family: Josefin Sans,Arial,Helvetica;
}

.nav-wrapper  li a {
color: #777;
}

.lista-navegacion{
  list-style:none;
}

.lista-navegacion li{
    display: inline-block;
    padding-right: 10px;
    border-right: solid 1px; 
}

.lista-navegacion li a:hover {
  color:#fff;
  -webkit-animation-name: flash;
          animation-name: flash;
}

.nav-wrapper form{
  padding-top: 10px;
}

/**Seccion inicio **/
.inicio-wrapper{
  background:url('../img/background.jpg');
  background-size: cover;

}



.inicio-wrapper {
  position: relative;
}
.inicio-wrapper  .caption{
  position: absolute;
  top: 0;
  left:0; 
  right: 0; 
  bottom: 0;
  background:rgba(0,0,0,0.6);
}
.inicio-wrapper  .caption-wrapper{
  display: table;
  height: 100%;
  width: 100%;
}
.inicio-wrapper  .caption-info{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: #fff;
}
.inicio-wrapper  .caption-info h1{
  font:normal 4.5em Lobster,Arial,Helvetica;
  text-transform:capitalize;
}
.inicio-wrapper  .caption-info p{
  font:600 1.7em Josefin Sans,Arial,Helvetica;
}

/*Seccion nosotros*/

.nosotros{
  padding-top: 10px;
    height:550px;
  background: linear-gradient(to bottom,#fff, transparent 30%),
            linear-gradient(to top, #fff, transparent),
            #fff url('../img/galls.jpg') no-repeat center;
    background-size: cover;
          

}
.nosotros h2{
    color: #616161;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}
.nosotros h1{
    color: #616161;
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    padding: 20px;
}

.nosotros  p{
    color: #838181;
    font-size: 18px;
    line-height: 28px; 
    margin-top: 40px;
    letter-spacing: .5px;
    text-align: justify;
}

.nosotros-texto {
  font:600 1.7em Josefin Sans,Arial,Helvetica;
}

video{
    margin: 0 auto;
  }


/*Seccion Historia*/
.historia-wrapper{
  background: #fafafa;

}

.historia-wrapper h1{
  padding: 15px;
}

.historia-wrapper  .separator{
    display: block;
    width: 1px;
    height: 20px;
    background: #f6f6f6;
    margin: 20px auto;
}

.historia-wrapper h2{
    color: #616161;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}

.historia-wrapper  p{
    color: #838181;
    font-size: 14px;
    line-height: 28px; 
    margin-top: 40px;
    letter-spacing: .5px;
    text-align: justify;
}

.historia-wrapper  .icon{
   width: 300px;
   height: 200px;
}


/*Seccion Galeria*/





.galeria-wrapper figcaption a{border:1px solid #fff;margin-top: 1em;display: inline-block;color: #fff;padding: 0 2em;}
.galeria-wrapper figcaption a:hover{text-decoration: none;padding: 0 3em;}
.galeria-wrapper {
  position: relative;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

/* Common style */
.galeria-wrapper figure {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 0;  /*change here for spacing*/ 
  text-align: center;
  cursor: pointer;
}

.galeria-wrapper figure img {
  position: relative;
  display: block;
  max-width: 102%;
  opacity: 1;
}

.galeria-wrapper figure figcaption {
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.1em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.galeria-wrapper figure figcaption::before,
.galeria-wrapper figure figcaption::after {
  pointer-events: none;
}

.galeria-wrapper figure figcaption,
.galeria-wrapper figure figcaption > a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.galeria-wrapper figure figcaption > a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.galeria-wrapper figure h2 {
  word-spacing: -0.15em;
  font-weight: 500;
}

.galeria-wrapper figure h2,
.galeria-wrapper figure p {
  margin: 0;
}

.galeria-wrapper figure p {
  letter-spacing: 1px;
  font-size: 68.5%;
}

.galeria-wrapper img{
  width:300px;
  height:300px;
  background:rgba(0,0,0,0.8); 
  -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
  opacity: 0.1;


}

figure.efecto-imagen {
  background: -webkit-linear-gradient(45deg, #22682a 0%, #9b4a1b 40%, #3a342a 100%);
  background: linear-gradient(45deg, #22682a 0%,#9b4a1b 40%,#3a342a 100%);
}

figure.efecto-imagen img {
  opacity: 0.9;
  -webkit-transition: opacity 0.35s;
  transition: opacity 0.35s;
}

figure.efecto-imagen figcaption {
  padding: 15%;
/*  background-color: rgba(58,52,42,0.7);
  -webkit-transition: background-color 0.35s;
  transition: background-color 0.35s;*/
}

figure.efecto-imagen figcaption::before {
  position: absolute;
  top: 30px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  border: 1px solid #fff;
  content: '';
}

figure.efecto-imagen h2 {
  margin: 0;
  line-height: 1em;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

figure.efecto-imagen figcaption::before,
figure.efecto-imagen p {
  opacity: 0;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0);
  transform: scale(0);
}

figure.efecto-imagen:hover h2 {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}

figure.efecto-imagen:hover figcaption::before,
figure.efecto-imagen:hover p {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

figure.efecto-imagen:hover figcaption {
  background-color: rgba(0,0,0,0.8);
}

figure.efecto-imagen:hover img {
  opacity: 0.4;
}



/** Seccion de contacto **/

.contacto-mapa iframe {
  min-height: 285px;
  width: 100%;
  border: none;
}

.contacto-wrapper h2{
    padding-top: 20px;
    padding-bottom: 20px;
    color: #616161;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}
.contacto-wrapper h1{
color: #616161;
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    padding: 20px;
}
.contacto-wrapper  p{
    color: #838181;
    font-size: 14px;
    letter-spacing: .5px;
    text-align: justify;
}

.enlacePdf{
  display: none;
}

/** Footer **/
.footer-wrapper ul li img {
  height: 50px;
width: 50px;
}


.footer-wrapper ul{
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding-top: 20px;
}

.footer-wrapper ul li{
  display: inline;
}
.footer-wrapper {
  background:#1e1e1e;
  width:100%;
  height:90px;
  float:left;
  margin-top:64px
}

.footer-wrapper p {
  width:100%;
  text-align:center;
  color:#FFF;
  font-size:13px;
  margin-top:36px;
  letter-spacing:1px
}

.objeto-pdf{
    width:800px;
    height:300px; 
}








/** Media queries **/

/*Tablets a Escritorio*/

@media only screen and (max-width: 769px){

  .nosotros h1,.galeria-wrapper h1,.historia-wrapper h1,.contacto-wrapper h1 {
    color: #616161;
    font-size: 35px;
    font-weight: bold;
    margin: 0;
    text-align: center;
  
}

  .lista-navegacion li{
      display: none;
     
    }
  .nosotros-texto {
      padding-top: 50px;
      font:500 1.5em Josefin Sans,Arial,Helvetica;
    }
  .nav-wrapper input,.nav-wrapper span{
      display: none;
    }
    .inicio-wrapper  .caption-info h1{
    font:normal 3.5em Lobster,Arial,Helvetica;
    text-transform:capitalize;
  }
  .inicio-wrapper  .caption-info p{
    font:600 1.5em Josefin Sans,Arial,Helvetica;
  }
  .galeria-wrapper img{
  width:280px;
  height:280px;
  opacity: 1;
 

  }
   .formaContacto{
    padding: 15px;
  }
   .objeto-pdf{
    display: none;
  }
   .enlacePdf{
  display: inline-block;
  }
}

/*De telefonos a Tablets*/
@media only screen and (max-width: 481px){

  .nosotros-texto {
    padding-top: 50px;
    font:500 1.2em Josefin Sans,Arial,Helvetica;

  }
 .nosotros h1,.galeria-wrapper h1,.historia-wrapper h1,.contacto-wrapper h1 {
    color: #616161;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
    text-align: center;
  
}

.galeria-wrapper img{
  width:200px;
  height:200px;
  opacity: 1;
 

}

.nosotros  p{
    color: #838181;
    font-size: 14px;
    line-height: 28px; 
    margin-top: 40px;
    letter-spacing: .5px;
    text-align: justify;
}
  .nav-wrapper input,.nav-wrapper span{
    display: none;
  }
  .inicio-wrapper  .caption-info h1{
  font:normal 2.5em Lobster,Arial,Helvetica;
  text-transform:capitalize;
}

  .inicio-wrapper  .caption-info p{
  font:600 1.2em Josefin Sans,Arial,Helvetica;
}

.lista-navegacion li{
    display: none;
   
  }


  .objeto-pdf{
    display: none;
  }
  .enlacePdf{
  display: inline-block;
}

.galeria-wrapper figure h2 {
  display: none;
}
.galeria-wrapper figure p {
  padding-top: 15px;
}








